.topContainer{
    background: url("../../assets/Raghulkumar_img.JPG");
    height: 100vh;
    background-position: center;
    /* background-position:-200px center; */
    background-size: cover;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}